HOST=0.0.0.0
PORT=28080
ONEBOT_ACCESS_TOKEN=your-access-token-here

# nonebot-bison 配置
# 超级用户（管理员），可以管理订阅
SUPERUSERS=["123456789"]

# bison 数据存储位置
BISON_DB_DIR=data

# bison WebUI 配置
BISON_USE_BROWSER=true
BISON_BROWSER_UA=Mozilla/5.0
